body {
	background: #a9bbe2;
}

.container {
	text-align: center;
	width: 680px;
	margin: 0 auto 200px auto;
	border: 5px solid #333;
	background: #ddd;
}

.cell {
	display: inline-block;
	float: left;
}

.container,
.row {
	overflow: hidden;
}

.row {
	width: 100%;
}

h1 {
	text-transform: uppercase;
	text-align: center;
}

#btn-wrapper {
	text-align: center;
	margin-bottom: 20px;
}

.grid-btn {
	font-size: 19px;
    border: 1px solid #ccc;
    padding: 10px;
    text-transform: uppercase;
}

.grid-btn:hover {
	cursor: pointer;
	background: #cbcbcb;
}

.active {
	background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); 
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); 
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); 
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); 
}
